    <div class="justify-content-center" align="center">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Nom de l'utilisateur #}
        <div class="form-group mx-16 sm:mx-16 md:mx-16 lg:mx-16 xl:mx-40 2xl:mx-60" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.nom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Prénom de l'utilisateur #}
        <div class="form-group mx-16 sm:mx-16 md:mx-16 lg:mx-16 xl:mx-40 2xl:mx-60" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.prenom, "Prénom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.prenom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Email de l'utilisateur #}
        <div class="form-group mx-16 sm:mx-16 md:mx-16 lg:mx-16 xl:mx-40 2xl:mx-60" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.email, "Email :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Numéro de sécurité sociale de l'utilisateur #}
        <div class="form-group mx-16 sm:mx-16 md:mx-16 lg:mx-16 xl:mx-40 2xl:mx-60" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.numeroSecuriteSociale, "Numéro de sécurité sociale", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.numeroSecuriteSociale) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.numeroSecuriteSociale, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Choix de l'utilisateur pour se faire vacciner #}
        <div class="form-group mx-16 sm:mx-16 md:mx-16 lg:mx-16 xl:mx-40 2xl:mx-60" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.veuxVaccin, "Souhaitez-vous vous faire vacciner contre la COVID-19 :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.veuxVaccin) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.veuxVaccin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <p style="margin-top: 1rem;">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.ajouter, {'attr': {'class': 'px-4 py-2 rounded-md text-sm font-medium border-b-2 focus:outline-none focus:ring transition text-white bg-green-500 border-green-800 hover:bg-green-600 active:bg-green-700 focus:ring-green-300'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>

