    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Nom de l'utilisateur #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.nom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Prénom de l'utilisateur #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.prenom, "Prénom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.prenom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Email de l'utilisateur #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.email, "Email :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Numéro de sécurité sociale de l'utilisateur #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.numeroSecuriteSociale, "Numéro de sécurité sociale", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.numeroSecuriteSociale) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.numeroSecuriteSociale, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Choix de l'utilisateur pour se faire vacciner #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.veuxVaccin, "Souhaitez-vous vous faire vacciner contre la COVID-19 :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.veuxVaccin) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.veuxVaccin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <p>
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-outline-primary'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>

