    <div class="justify-content-center" align="center">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Nom de l'utilisateur #}
        <div class="" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.nom) }}
            <div class="">
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'border py-2 px-4 rounded-lg shadow-lg w-4/5 lg:w-full', 'placeholder': 'Dupont...'}}) }}
            </div>
        </div>
        {# Prénom de l'utilisateur #}
        <div class="" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.prenom, "Prénom :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.prenom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.prenom, {'attr': {'class': 'border py-2 px-4 rounded-lg shadow-lg w-4/5 lg:w-full', 'placeholder': 'Jean...'}}) }}
            </div>
        </div>
        {# Email de l'utilisateur #}
        <div class="" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.email, "Email :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.email) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'border py-2 px-4 rounded-lg shadow-lg w-4/5 lg:w-full', 'placeholder': 'jean.dupont@gmail.com...'}}) }}
            </div>
        </div>
        {# Numéro de sécurité sociale de l'utilisateur #}
        <div class="" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.numeroSecuriteSociale, "Numéro de sécurité sociale", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.numeroSecuriteSociale) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.numeroSecuriteSociale, {'attr': {'class': 'border py-2 px-4 rounded-lg shadow-lg w-4/5 lg:w-full', 'placeholder': 'Par exemple : 199047500064191...'}}) }}
            </div>
        </div>
        {# Choix de l'utilisateur pour se faire vacciner #}
        <div class="" style="margin-top: 2rem;">
            {# Génération du label #}
            {{ form_label(form.veuxVaccin, "Souhaitez-vous vous faire vacciner contre la COVID-19 :", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.veuxVaccin) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.veuxVaccin, {'attr': {'class': 'border py-2 px-4 rounded-lg shadow-lg w-4/5 lg:w-full'}}) }}
            </div>
        </div>
        <p style="margin-top: 1rem;">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.ajouter, {'attr': {'class': 'bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-7 border-b-4 border-green-700 hover:border-green-500 rounded'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>

<script>
    $(document).ready(function(){
        $('#info_utilisateur_ajouter').click(function(event){
            let regex = /^([123478])([0-9]{2})(0[1-9]|1[0-2]|[2-3][0-9]|4[0-2]|[5-9][0-9])([0][1-9]|2[AB]|[1-9][0-9])([0-9]{3})(00[1-9]|0[1-9][0-9]|[1-9][0-9]{2})(0[1-9]|[1-8][0-9]|9[0-7])?$/;
            let numeroSecuriteSociale = $('#info_utilisateur_numeroSecuriteSociale').val();
            console.log('Numero de secu : ' + numeroSecuriteSociale);
            if(!regex.test(numeroSecuriteSociale)){
                $('.codeErreur').remove();
                $('#info_utilisateur_numeroSecuriteSociale').parent().parent().append("<ul class=\"codeErreur\"><li>Le numéro de sécurité sociale : " + numeroSecuriteSociale+ " n'est pas valide</li></ul>");
                $("ul li").css('color', 'red');
                console.log('dans le if !');
                event.preventDefault();
            }
        });
    });
</script>