<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% block stylesheets %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  {% endblock %}

  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
  {% endblock %}
</head>
<body>
  <nav class="flex items-center bg-white shadow-lg p-3 flex-wrap">
    <a href="{{ path('accueil') }}" class="flex items-center px-2 text-gray-700 nav-link" style="color: black;">
      <img src="{{ asset('uploads/images/logo.png') }}" alt="logo" style="max-width: 200px;">
    </a>
    <button class="text-black inline-flex p-3 hover:bg-gray-200 rounded-sm lg:hidden ml-auto nav-toggle" data-target="#navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
      <div class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto">
        <a href="{{ path('accueil') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 font-bold">
          <span>Accueil</span>
        </a>
        <a href="{{ path('facts-vaccination') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 font-bold">
          <span>Arguments pour la vaccination</span>
        </a>
        <a href="{{ path('avance-vaccination') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 font-bold">
          <span>Avancée de la campagne de vaccination</span>
        </a>
        <a href="{{ path('infoUtilisateur') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 font-bold">
          <span>Je souhaite sauver des vies !</span>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('administration') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 text-blue-500 font-extrabold">
          <span>Administration</span>
        </a>
        <a href="{{ path('app_logout') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 text-red-500 font-extrabold">
          <span>Déconnexion</span>
        </a>
        {% else %}
        <a href="{{ path('app_login') }}" class="lg:inline-flex lg:w-auto px-3 py-2 rounded text-black hover:bg-gray-200 text-green-500 font-extrabold">
          <span>Connexion</span>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block body %}

  
  
  {% endblock %}

  {% block js %}
  <script>
    $(document).ready(function(){
      $('.nav-toggle').each(function(_, navToggler){
        var target = $(navToggler).data('target');
        $(navToggler).on('click', function(){
          $(target).animate({
            height: "toggle",
          });
        });
      });
    });
  </script>
  {% endblock %}
</body>
</html>