<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
<!-- navbar goes here -->
<nav class="bg-white shadow-lg">
  <div class="max-w-9xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <a href="{{ path('accueil') }}" class="flex items-center py-3 px-2 text-gray-700 nav-link" style="color: black;"><img src="{{ asset('uploads/images/LogoRF.png') }}" alt="logorf" style="max-width: 150px;"></a>
        </div>

        <!-- primary nav --> 
        <div class="hidden md:flex">
                    <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('accueil') }}" style="color: black;">Accueil</a>
                    <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('facts-vaccination') }}" style="color: black;">Avancement de la vaccination</a>
                    <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('avance-vaccination') }}" style="color: black;">Stratégie de la vaccination</a>                
                    <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('infoUtilisateur') }}" style="color: black;">Je souhaite sauver des vies !</a>
        </div>
      </div>

      <!-- secondary nav -->
      <div class="hidden md:flex space-x-1">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('administration') }}" style="color: black;">Administration</a>
            <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('app_logout') }}" style="color: black;">Déconnexion</a>
        {% else %}
            <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('app_login') }}" style="color: black;">Connexion</a>
        {% endif %}
      </div>

      <!-- mobile button goes here -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <!-- mobile menu -->
  <div class="mobile-menu hidden md:hidden">
    <a class="nav-link hover:bg-gray-200 md:flex items-center py-5 px-2" href="{{ path('accueil') }}" style="color: black;">Accueil</a>
    <a href="{{ path('facts-vaccination') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Avancement de la vaccination</a>
    <a href="{{ path('avance-vaccination') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Stratégie de la vaccination</a>
    <a href="{{ path('infoUtilisateur') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Je souhaite sauver des vies !</a>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('administration') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Administration</a>
      <a href="{{ path('app_logout') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Déconnexion</a>
    {% else %}
      <a href="{{ path('app_login') }}" class="block py-2 px-4 text-sm hover:bg-gray-200" style="color: black; text-decoration: none;">Connexion</a>
    {% endif %}
  </div>
</nav>

<!-- content goes here -->
<div class="pt-10 text-center">
  <div  class="">
                {% block body %}
                
                {% endblock %}
    </div>
</div>
            
                {% block js %}
                    <script>
                        // grab everything we need
                        const btn = document.querySelector("button.mobile-menu-button");
                        const menu = document.querySelector(".mobile-menu");
                        // add event listeners
                        btn.addEventListener("click", () => {
                            menu.classList.toggle("hidden");
                        });
                    </script>
                {% endblock %}
            
    </body>
</html>

